.EmpContainer{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding:10px;
    width: 100%;
}
.EmpBodyContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
}
.EmpTabContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items:flex-start;
    padding:20px;
}
.topMenuContainer {
    display: flex;
    justify-content: flex-end;
    height: 35px;
    width: 100%;
    margin-bottom: 15px;
}
.TopMenu{
    display: flex;
    justify-content: flex-end;
    height: 35px;
    width: 100%;
}
.EmpInfoTableContainer{
    display: flex;
    flex: 1;
    border: 1px solid gray;
    width: 100%;
}

.EmpDataGrid{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


