.PayrollContainer{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding:10px;
    width: 100%;
}
.GongziDanContainer{
    width: 100%;
    height: 100%;
    overflow: scroll;
}
.PayrollBodyContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
}

.GZFormContainer{
    height: 450px;
    width: 1280px;
   margin: auto;
   padding:15px;
}
.topMenuContainer {
    display: flex;
    justify-content: flex-end;
    height: 35px;
    width: 100%;
    margin-bottom: 15px;
    padding-right: 15px;
    margin-top: 10px;
}

.bordered {
    width: 100%;
    margin-top: 3px;
    font-size: 12px;
    border: 1px solid #ccc;
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    /*border: solid #ccc 1px;*/
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;
    background-color: #ffffff;
}

.bordered tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.bordered th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc),
    to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
    border-top: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child {
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

.tableWrap{
    height:100%;
    width: 100%;
   margin: auto;
   padding:10px;
   box-sizing: border-box;
   overflow: scroll;
}
.table-thead{
    width:5900px;
    font-size: 14px;
    background-color: #FFF;
    border: 1px solid #CFCFCF;
    border-collapse: collapse;
    border-spacing: 0px;
    
}
.table-thead tr th{
    text-align: center;
    padding-left:10px;
    border-right:1px solid #CFCFCF;
    border-left:1px solid #CFCFCF;
    border-collapse: collapse;
    border-spacing: 0px;
}
.table-thead tr th{
    border-top: 1px solid #CFCFCF;
}
.table-thead tr th:last-child, .table-thead tr th:nth-last-child(2){
    border-right:0;
}
.table-thead tr{
    height:35px;
    border-bottom:1px solid #CFCFCF;
}
.table-thead thead tr{
    height: 24px;
    background-color: #dce9f9
}

.table-thead tr td{
    padding-left:10px;
    padding-right:10px;
    border-right:1px solid #CFCFCF;
}